# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# (ignore all) Node dependencies
node_modules/*
# Add that one specific app.vue file for the fkcn vercel analytics to work
!node_modules/docus/app/app.vue

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.eslintcache

# Local env files
.env
.env.*
!.env.example

# npm pack
*.tgz

# Temp files
.tmp
.profile
*.0x

#VSC
.history
.wrangler
